.image{
  background-image: url("https://imgd.aeplcdn.com/0x0/cw/static/landing-banners/home-page-banner-400.jpg?q=85");
  background-color: rgb(11, 46, 64);
  background-position: center top;
  height: 400px;
}
