<div class="navbar">
  <img src="https://imgd.aeplcdn.com/0x0/cw/static/icons/new-header/logo.svg"
       width="136"
       alt="CarWaleClone" title="CarWaleClone" style="display: inline">
  <ul style="text-decoration: none;margin: 0;padding: 0; display: inline">
    <li>New Cars</li>
    <li>Used Car</li>
    <li>Reviews & News</li>
  </ul>
  <input nz-input type="text" style="width: 100px">
  <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
  <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
  <nz-avatar nzIcon="user"></nz-avatar>

</div>

