.navbar{
  padding: 0 24px;
  height: 57px;
  li{
    display: inline;
    font-family: LatoGoogle, Lato, LatoWeb, sans-serif;
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
  }
  span{
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
  }
}

